.blog-entry-body img, #content img{
	width: 100%;
	height: auto;
	max-width:100% !important;	
    display:block;
}
#sidebar img {
	width: 100%;
	height: auto;
	max-width: 250px !important;
	margin-right: auto;
	margin-left: auto;
	display: block;
}