@media all and (max-width: 5200px) {
#sidebarContainer {
	width: 100% !important;
	float: none !important;
}
#contentContainer #content{
	width: 90% !important;
	float: none !important;
	padding-left: 5%;
	padding-right: 5%;
}
#sidebarContainer #sidebar {width: auto;
	padding-right: 25px;
	padding-left: 25px;
	padding-bottom: 25px;
}
#sidebarBackground {display: none;}

#sidebarContainer #sidebar {width: auto;
	padding-bottom: 25px;
	padding-right: 5%;
	padding-left: 5%;
 }
}
@media all and (max-width: 1200px) {
#contentContainer #content{
	padding-top: 5% !important;
	padding-left: 5% !important;
 }
}